<div class="form">
	<form action="../models/functions.php" method="POST" enctype="multipart/form-data">
		<input type="file" name="image">
		<input type="submit" name="submit">
	</form>
</div>
<footer>
			
</footer>  
  
<script src="scripts/jquery-1.4.3.min.js"></script>
<script src="scripts/jquery.easing-1.3.pack.js"></script>
<script src="scripts/jquery.fancybox-1.3.4.pack.js"></script>
<script src="scripts/main.js"></script>

 </body>
 
</html>
